<div id="asdk" class="anchor"></div>
<div id="sdk-container" class="row">

  <img src="/static/images/sdk/banner.png" class="img-responsive">

  <div id="sdk" class="container text-center">
    <div class="row">
      <div class="col-xs-6">
        <img src="/static/images/sdk/apk.png">
        <h3>车载专用APK</h3>
        <p>智能后视镜、智能车机、车载专版APK</p>
        <p>多尺寸、分辨率、免费定制适配</p>
        <p>免开发、直接安装集成</p>
      </div>
      <div class="col-xs-6">
        <img src="/static/images/sdk/sdk.png">
        <h3>OpenSDK</h3>
        <p>智能车机、后视镜、智能硬件、移动应用、简单接入</p>
        <p>让你的应用瞬间成为UBI车险终端</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <a href="http://apk.kaikaibao.com.cn/kkb-v9-general-01-09.apk" class="btn btn-default">下载测试版</a>
        <button class="btn btn-default" ng-click="ctrl.apply()">申请正式版</button>
      </div>
      <div class="col-xs-6">
        <button class="btn btn-default" ng-click="ctrl.apply()">申请SDK</button>
      </div>
    </div>
  </div>

  <img src="/static/images/sdk/banner_dvr.png" class="img-responsive">

  <div id="dvr" class="text-center">
    <h3>车机端App</h3>
    <div>
      <span>
        <img src="/static/images/sdk/dvr/dvr1.png"><br/>行车收益<br/>收益抵扣保费
      </span>
      <span>
        <img src="/static/images/sdk/dvr/dvr2.png"><br/>行程回顾<br/>一目了然
      </span>
      <span>
        <img src="/static/images/sdk/dvr/dvr3.png"><br/>每日评分<br/>挑战自我
      </span>
      <span>
        <img src="/static/images/sdk/dvr/dvr4.png"><br/>驾驶评级<br/>低价抵扣车险
      </span>
      <span>
        <img src="/static/images/sdk/dvr/dvr5.png"><br/>违章查询<br/>微信定时推送
      </span>
    </div>
  </div>

  <div id="h5" class="text-center">
    <h3>手机移动端H5</h3>
    <img src="/static/images/sdk/h5.png">
    <div class="container">
      <div class="row">
        <div class="col">
          车险直接在线报价和购买，低价一目了然
        </div>
        <div class="col">
          历史行车轨迹，随时查
        </div>
        <div class="col">
          驾驶评级，对应折扣车险
        </div>
        <div class="col">
          行车评分周周评，月月发
        </div>
      </div>
    </div>
  </div>

</div>